* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bgColor: #e6f5ec;
  --text: #000000;
  --primary: #96d4b0;
  --secondary: #d4edde;
  --accent: #47ae72;
}
body {
  background-color: var(--secondary);
  color: var(--text);
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
